#app2{

}
#app2>.tab-bar{
    border: 1px solid blue;
    display: flex;
}
#app2>.tab-bar>li{
    width: 50%;
}
#app2>.tab-bar>li.selected{
    background: grey;
}
#app2>.tab-content>li{
    display: none;
}
#app2>.tab-content>li.active{
    display: block;
}